/**********************
* Owner : Julie Milne
************************/

    /* our colours found on https://www.w3schools.com/colors/colors_palettes.asp 
    #bccad6  - light blue -grey
    #8d9db6  - blue/grey
    #667292  - dark blue
    #f1e3dd  - pinky beige

    #164A41 - Dark Green
    #4D774E - Pine Green
    #9DC88D - light Green
    #f1B24A - Golden Yellow
    #ffffff - White

/*Website wide formating*/
* {font-family: Arial, Helvetica, sans-serif ;}

/* Element specific formating */
    h1 {text-align: center; color: #fff}
    h2 {text-align: center; 
      font-family: Arial, Helvetica, sans-serif; 
      color: #fff;
    font-style:italic}
    h3 {color: #f1B24A;
        letter-spacing: 1px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    body {background-color: #fff;}
    p {color: #fff; padding:  0px  20px  0px}
    li {color: #fff; padding:  0px  20px  0px}

/* id selectors */
    #heading { background-color: #164A41;padding-top: 32px;
        padding-bottom: 32px; margin-top: 50px}
/* Julies Code Ends here */

/**********************
* Owner : Laura Cobham
* Date : Nov 28, 2023
***********************/
/* This section styles the navbar and the dropdown menu within it
Dropdown navbar learnt from:https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
.navbar {
  background-color: #164A41;
  overflow: auto;
}
.navbar a {
  float: left;
  font-size: 20px;
  color: #f1e3dd;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  background-color: #164A41;
}
.navbar a.active {
background-color: #9DC88D;
}

.navbar a:hover {
  background-color: #9DC88D;
}
.dropdown:hover .dropbtn:hover {
  background-color: #9DC88D;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #164A41;
}
.dropdown-content a {
  float: none;
  color: #f1e3dd;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #164A41;
}
.dropdown-content a:hover {
  background-color: #9DC88D;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar .icon {
  display:none;
}
   /*formating for responsive*/
.cartsection {width:100%; background-color: #4D774E; 
    display: flex;
        align-items: center;  }
  
  
    .carttext{width: 25%; float: right;}
  
    .cartimg{width: 75%; 
    float: left; 
    max-width: 100%;
    max-width:4000px; max-height: 4000px;
    }
/*Back to top button*/
/*From: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#topbutton {
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page*/
    right: 30px; /*Place the button 30px from the right*/
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #9DC88D; /* Set a background color */
    color: #f1e3dd; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  #topbutton:hover {
    background-color: #bccad6; }
  
  /*class to make button appear*/
  .top-show{
    display:block;
  }
  .contactbut:link, .contactbut:visited { /* contact us here button css, taken from w3schools and from my previous web design project*/
    background-color: #667292;
  
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .contactbut:hover, .contactbut:active {
    background-color: #f1e3dd;
    color: black;
  }
  @media screen and (max-width: 962px) { 
    .navbar a:not(:first-child), .dropdown .dropbtn {display: none;}
	.navbar a.icon {
	  float: right;
	  display: block;
	}

	.navbar.responsive {position: relative;}
	.navbar.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.navbar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.navbar.responsive .dropdown {float: none;}
	.navbar.responsive .dropdown-content {position: relative;}
	.navbar.responsive .dropdown .dropbtn {
	    display: block;
	    width: 100%;
	    text-align: left;
	}
    .cartsection {width:100%; display: flex;
        flex-direction: column; }
        .carttext {width: 100%; float: none;}
      
        .cartimg {width: 100%; height: auto; float: none; padding: 5px 5px 5px 5px}
      }
      footer {text-align: center;/* aligns text to the center of the page */
        font-size: 14pt;
         padding: 10px; /* adding padding to the content bock */
        background-color: #164A41;
        color: white; 
        clear: both;/* clears both sides of the block from floating blocks */
        }

